*.pyc
_trial_temp
__pycache__
dist
slurm_pipeline.egg-info
examples/word-count/output
examples/blast/x??
examples/blast/x??.blast-out
examples/blast/BEST-HITS
examples/blast/pipeline.log
examples/blast/specification-post-run.json
examples/blast-with-force-and-simulate/x??
examples/blast-with-force-and-simulate/x??.blast-out
examples/blast-with-force-and-simulate/BEST-HITS
examples/blast-with-force-and-simulate/pipeline.log
examples/blast-with-force-and-simulate/specification-post-run.json
.tox
